In [1]:
import pandas as pd

In [4]:
country_code = pd.read_csv("mortality_data/country_codes.csv")

In [6]:
mort1 = pd.read_csv("mortality_data/Morticd10_part1.csv")

/Users/jaeyoonjung/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
mort1.List.unique()

array([101, 103, 104, '104', '10M', 'UE1', '103'], dtype=object)

In [20]:
mort1.loc[(mort1.Country == 2070) & (mort1.Year == 2002) & (mort1.Cause=="Y880")]

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
236863,2070,NaN,NaN,2002,104,Y880,1,0,8,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
236864,2070,NaN,NaN,2002,104,Y880,2,0,8,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
290668,2070,901.0,NaN,2002,104,Y880,1,0,8,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
337265,2070,902.0,NaN,2002,104,Y880,2,0,8,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [21]:
mort1 = mort1.loc[(mort1.Admin1.isnull()) & (mort1.SubDiv.isnull())]

In [25]:
mort1 = mort1[["Country", "Year", "List", "Cause", "Sex",  "Deaths1"]]

In [8]:
mort2 = pd.read_csv("mortality_data/Morticd10_part2.csv")

/Users/jaeyoonjung/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
mort2 = mort2.loc[(mort2.Admin1.isnull()) & (mort2.SubDiv.isnull())]
mort2 = mort2[["Country", "Year", "List", "Cause", "Sex",  "Deaths1"]]

In [34]:
mort = pd.concat([mort1, mort2])

In [35]:
mort = mort.reset_index(drop=True).groupby(["Country", "Year", "List", "Cause"])["Deaths1"].sum().reset_index()

In [43]:
mort

         Country  Year List Cause  Deaths1
0           1060  2011  103   A05        1
1           1060  2011  103   A09       22
2           1060  2011  103   A15        1
3           1060  2011  103   A16       21
4           1060  2011  103   A18        1
5           1060  2011  103   A19        1
6           1060  2011  103   A35        2
7           1060  2011  103   A39        1
8           1060  2011  103   A41       72
9           1060  2011  103   AAA     2521
10          1060  2011  103   B16        2
11          1060  2011  103   B19        1
12          1060  2011  103   B20       58
13          1060  2011  103   B21        1
14          1060  2011  103   B24        1
15          1060  2011  103   B50        2
16          1060  2011  103   B54        2
17          1060  2011  103   B99        1
18          1060  2011  103   C01        1
19          1060  2011  103   C02        3
20          1060  2011  103   C06        5
21          1060  2011  103   C07        1
22          1060  2011  103   C09        2
23          1060  2011  103   C10        3
24          1060  2011  103   C14        2
25          1060  2011  103   C15       31
26          1060  2011  103   C16       46
27          1060  2011  103   C18        7
28          1060  2011  103   C20        5
29          1060  2011  103   C22       34
...          ...   ...  ...   ...      ...
2336819     5150  2014  104  X999        4
2336820     5150  2014  104  Y000        1
2336821     5150  2014  104  Y040        8
2336822     5150  2014  104  Y070        4
2336823     5150  2014  104  Y090        2
2336824     5150  2014  104  Y119        4
2336825     5150  2014  104  Y129        5
2336826     5150  2014  104  Y149        1
2336827     5150  2014  104  Y209        2
2336828     5150  2014  104  Y212        2
2336829     5150  2014  104  Y219        1
2336830     5150  2014  104  Y241        1
2336831     5150  2014  104  Y269        1
2336832     5150  2014  104  Y309        2
2336833     5150  2014  104  Y324        1
2336834     5150  2014  104  Y339        2
2336835     5150  2014  104  Y400        1
2336836     5150  2014  104  Y450        1
2336837     5150  2014  104  Y451        1
2336838     5150  2014  104  Y600        1
2336839     5150  2014  104  Y605        1
2336840     5150  2014  104  Y831        1
2336841     5150  2014  104  Y846        1
2336842     5150  2014  104  Y848        1
2336843     5150  2014  104  Y850       13
2336844     5150  2014  104  Y859        2
2336845     5150  2014  104   Y86       27
2336846     5150  2014  104  Y870        2
2336847     5150  2014  104  Y871        1
2336848     5150  2014  104  Y883       13

[2336849 rows x 5 columns]

In [40]:
country_code

     country                               name
0       1010                            Algeria
1       1020                             Angola
2       1025                              Benin
3       1030                           Botswana
4       1035                       Burkina Faso
5       1040                            Burundi
6       1045                           Cameroon
7       1060                         Cape Verde
8       1070           Central African Republic
9       1080                               Chad
10      1090                            Comoros
11      1100                              Congo
12      1115                      Cote d'Ivoire
13      1120                           Djibouti
14      1125                              Egypt
15      1130                  Equatorial Guinea
16      1135                            Eritrea
17      1140                           Ethiopia
18      1160                              Gabon
19      1170                             Gambia
20      1180                              Ghana
21      1190                             Guinea
22      1192                      Guinea-Bissau
23      1220                              Kenya
24      1230                            Lesotho
25      1240                            Liberia
26      1250             Libyan Arab Jamahiriya
27      1260                         Madagascar
28      1270                             Malawi
29      1280                               Mali
..       ...                                ...
197     4280                              Spain
198     4290                             Sweden
199     4300                        Switzerland
200     4301                         Tajikistan
201     4302                       Turkmenistan
202     4303                            Ukraine
203     4304                       USSR, Former
204     4308                     United Kingdom
205     4310  United Kingdom, England and Wales
206     4320   United Kingdom, Northern Ireland
207     4330           United Kingdom, Scotland
208     4335                         Uzbekistan
209     4340                 Yugoslavia, Former
210     4350      Serbia and Montenegro, Former
211     5020                          Australia
212     5060                       Cook Islands
213     5070                               Fiji
214     5105                           Kiribati
215     5107                   Marshall Islands
216     5108   Micronesia (Federated States of)
217     5110                              Nauru
218     5150                        New Zealand
219     5170                               Niue
220     5180                              Palau
221     5195                   Papua New Guinea
222     5197                              Samoa
223     5198                    Solomon Islands
224     5200                              Tonga
225     5205                             Tuvalu
226     5207                            Vanuatu

[227 rows x 2 columns]

mort.loc[(mort.Country == 1400) & (mort.Year == 2001) & (mort.List == "101") & 
         (mort.Cause != "1000") & (mort.Cause != "1001") & (mort.Cause != "1026") & (mort.Cause != "1048") &
         (mort.Cause != "1048") & (mort.Cause != "1051") & (mort.Cause != "1055") & (mort.Cause != "1058") &
         (mort.Cause != "1001") & (mort.Cause != "1064") & (mort.Cause != "1072") & (mort.Cause != "1078") &
         (mort.Cause != "1084") & (mort.Cause != "1087") & (mort.Cause != "1095")
        ].Deaths1.sum()

In [85]:
mort101 = mort.loc[(mort.List == "101") ]

In [138]:
mort.loc[(mort.List == "103")]

         Country  Year List Cause  Deaths1
0           1060  2011  103   A05        1
1           1060  2011  103   A09       22
2           1060  2011  103   A15        1
3           1060  2011  103   A16       21
4           1060  2011  103   A18        1
5           1060  2011  103   A19        1
6           1060  2011  103   A35        2
7           1060  2011  103   A39        1
8           1060  2011  103   A41       72
9           1060  2011  103   AAA     2521
10          1060  2011  103   B16        2
11          1060  2011  103   B19        1
12          1060  2011  103   B20       58
13          1060  2011  103   B21        1
14          1060  2011  103   B24        1
15          1060  2011  103   B50        2
16          1060  2011  103   B54        2
17          1060  2011  103   B99        1
18          1060  2011  103   C01        1
19          1060  2011  103   C02        3
20          1060  2011  103   C06        5
21          1060  2011  103   C07        1
22          1060  2011  103   C09        2
23          1060  2011  103   C10        3
24          1060  2011  103   C14        2
25          1060  2011  103   C15       31
26          1060  2011  103   C16       46
27          1060  2011  103   C18        7
28          1060  2011  103   C20        5
29          1060  2011  103   C22       34
...          ...   ...  ...   ...      ...
2262432     4335  2016  103   Y17       16
2262433     4335  2016  103   Y18        1
2262434     4335  2016  103   Y19       10
2262435     4335  2016  103   Y20      100
2262436     4335  2016  103   Y21        3
2262437     4335  2016  103   Y22        1
2262438     4335  2016  103   Y23        3
2262439     4335  2016  103   Y24        2
2262440     4335  2016  103   Y25        1
2262441     4335  2016  103   Y26        8
2262442     4335  2016  103   Y27        1
2262443     4335  2016  103   Y28       28
2262444     4335  2016  103   Y29       15
2262445     4335  2016  103   Y30       11
2262446     4335  2016  103   Y31        3
2262447     4335  2016  103   Y33        7
2262448     4335  2016  103   Y34      388
2262449     4335  2016  103   Y40        1
2262450     4335  2016  103   Y45        2
2262451     4335  2016  103   Y47        1
2262452     4335  2016  103   Y48        1
2262453     4335  2016  103   Y53        1
2262454     4335  2016  103   Y57        2
2262455     4335  2016  103   Y59        2
2262456     4335  2016  103   Y60        1
2262457     4335  2016  103   Y83        2
2262458     4335  2016  103   Y85        1
2262459     4335  2016  103   Y86       11
2262460     4335  2016  103   Y87        3
2262461     4335  2016  103   Y89      307

[190923 rows x 5 columns]

In [86]:
mort101 = mort.loc[(mort.Cause != "1000") & (mort.Cause != "1001") & (mort.Cause != "1026") & 
                   (mort.Cause != "1048") & (mort.Cause != "1048") & (mort.Cause != "1051") & 
                   (mort.Cause != "1055") & (mort.Cause != "1058") & (mort.Cause != "1001") & 
                   (mort.Cause != "1064") & (mort.Cause != "1072") & (mort.Cause != "1078") & 
                   (mort.Cause != "1084") & (mort.Cause != "1087") & (mort.Cause != "1095") ]

         Country  Year List Cause  Deaths1
54428       1400  2001  101  1000      554
54429       1400  2001  101  1001       38
54430       1400  2001  101  1002        0
54431       1400  2001  101  1003        0
54432       1400  2001  101  1004        0
54433       1400  2001  101  1005        2
54434       1400  2001  101  1006        0
54435       1400  2001  101  1007        0
54436       1400  2001  101  1008        0
54437       1400  2001  101  1009        0
54438       1400  2001  101  1010        0
54439       1400  2001  101  1011        0
54440       1400  2001  101  1012       18
54441       1400  2001  101  1013        0
54442       1400  2001  101  1014        0
54443       1400  2001  101  1015        0
54444       1400  2001  101  1016        0
54445       1400  2001  101  1017        0
54446       1400  2001  101  1018        0
54447       1400  2001  101  1019        0
54448       1400  2001  101  1020       10
54449       1400  2001  101  1021        0
54450       1400  2001  101  1022        0
54451       1400  2001  101  1023        0
54452       1400  2001  101  1024        0
54453       1400  2001  101  1025        8
54454       1400  2001  101  1026       94
54455       1400  2001  101  1027       12
54456       1400  2001  101  1028        9
54457       1400  2001  101  1029        5
...          ...   ...  ...   ...      ...
2126039     4303  2015  101  1074     4954
2126040     4303  2015  101  1075       27
2126041     4303  2015  101  1076     7675
2126042     4303  2015  101  1077     1274
2126043     4303  2015  101  1078    22818
2126044     4303  2015  101  1079     1754
2126045     4303  2015  101  1080    14703
2126046     4303  2015  101  1081     6361
2126047     4303  2015  101  1082      445
2126048     4303  2015  101  1083      479
2126049     4303  2015  101  1084     2569
2126050     4303  2015  101  1085     1601
2126051     4303  2015  101  1086      968
2126052     4303  2015  101  1087       60
2126053     4303  2015  101  1088        3
2126054     4303  2015  101  1089       30
2126055     4303  2015  101  1090       27
2126056     4303  2015  101  1091        0
2126057     4303  2015  101  1092     1730
2126058     4303  2015  101  1093     1443
2126059     4303  2015  101  1094    14131
2126060     4303  2015  101  1095    34569
2126061     4303  2015  101  1096     4807
2126062     4303  2015  101  1097     2021
2126063     4303  2015  101  1098     1965
2126064     4303  2015  101  1099     1326
2126065     4303  2015  101  1100     4349
2126066     4303  2015  101  1101     7575
2126067     4303  2015  101  1102     2111
2126068     4303  2015  101  1103    10415

[13009 rows x 5 columns]

In [80]:
mort.loc[(mort.Country == 1060) & (mort.Year == 2011) 
        ].List.unique()

array(['103'], dtype=object)

In [87]:
icd = pd.read_csv("mortality_data/icd_codes.csv")

In [92]:
icd = icd.iloc[0:76]

In [94]:
icd["code"] = icd["code"].apply(int)

/Users/jaeyoonjung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [96]:
icd["code"] = icd["code"].apply(str)

/Users/jaeyoonjung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [99]:
icd.to_csv("mortality_data/icd_codes.csv", index=False)

In [104]:
mort101 = mort101.reset_index(drop=True)

In [106]:
country_code

     country                               name
0       1010                            Algeria
1       1020                             Angola
2       1025                              Benin
3       1030                           Botswana
4       1035                       Burkina Faso
5       1040                            Burundi
6       1045                           Cameroon
7       1060                         Cape Verde
8       1070           Central African Republic
9       1080                               Chad
10      1090                            Comoros
11      1100                              Congo
12      1115                      Cote d'Ivoire
13      1120                           Djibouti
14      1125                              Egypt
15      1130                  Equatorial Guinea
16      1135                            Eritrea
17      1140                           Ethiopia
18      1160                              Gabon
19      1170                             Gambia
20      1180                              Ghana
21      1190                             Guinea
22      1192                      Guinea-Bissau
23      1220                              Kenya
24      1230                            Lesotho
25      1240                            Liberia
26      1250             Libyan Arab Jamahiriya
27      1260                         Madagascar
28      1270                             Malawi
29      1280                               Mali
..       ...                                ...
197     4280                              Spain
198     4290                             Sweden
199     4300                        Switzerland
200     4301                         Tajikistan
201     4302                       Turkmenistan
202     4303                            Ukraine
203     4304                       USSR, Former
204     4308                     United Kingdom
205     4310  United Kingdom, England and Wales
206     4320   United Kingdom, Northern Ireland
207     4330           United Kingdom, Scotland
208     4335                         Uzbekistan
209     4340                 Yugoslavia, Former
210     4350      Serbia and Montenegro, Former
211     5020                          Australia
212     5060                       Cook Islands
213     5070                               Fiji
214     5105                           Kiribati
215     5107                   Marshall Islands
216     5108   Micronesia (Federated States of)
217     5110                              Nauru
218     5150                        New Zealand
219     5170                               Niue
220     5180                              Palau
221     5195                   Papua New Guinea
222     5197                              Samoa
223     5198                    Solomon Islands
224     5200                              Tonga
225     5205                             Tuvalu
226     5207                            Vanuatu

[227 rows x 2 columns]

In [110]:
mortality_data = mort101.drop("List", axis=1)

In [112]:
mortality_data.columns = ["country", "year", "cause", "deaths"]

In [115]:
country_code

     country                               name
0       1010                            Algeria
1       1020                             Angola
2       1025                              Benin
3       1030                           Botswana
4       1035                       Burkina Faso
5       1040                            Burundi
6       1045                           Cameroon
7       1060                         Cape Verde
8       1070           Central African Republic
9       1080                               Chad
10      1090                            Comoros
11      1100                              Congo
12      1115                      Cote d'Ivoire
13      1120                           Djibouti
14      1125                              Egypt
15      1130                  Equatorial Guinea
16      1135                            Eritrea
17      1140                           Ethiopia
18      1160                              Gabon
19      1170                             Gambia
20      1180                              Ghana
21      1190                             Guinea
22      1192                      Guinea-Bissau
23      1220                              Kenya
24      1230                            Lesotho
25      1240                            Liberia
26      1250             Libyan Arab Jamahiriya
27      1260                         Madagascar
28      1270                             Malawi
29      1280                               Mali
..       ...                                ...
197     4280                              Spain
198     4290                             Sweden
199     4300                        Switzerland
200     4301                         Tajikistan
201     4302                       Turkmenistan
202     4303                            Ukraine
203     4304                       USSR, Former
204     4308                     United Kingdom
205     4310  United Kingdom, England and Wales
206     4320   United Kingdom, Northern Ireland
207     4330           United Kingdom, Scotland
208     4335                         Uzbekistan
209     4340                 Yugoslavia, Former
210     4350      Serbia and Montenegro, Former
211     5020                          Australia
212     5060                       Cook Islands
213     5070                               Fiji
214     5105                           Kiribati
215     5107                   Marshall Islands
216     5108   Micronesia (Federated States of)
217     5110                              Nauru
218     5150                        New Zealand
219     5170                               Niue
220     5180                              Palau
221     5195                   Papua New Guinea
222     5197                              Samoa
223     5198                    Solomon Islands
224     5200                              Tonga
225     5205                             Tuvalu
226     5207                            Vanuatu

[227 rows x 2 columns]

In [121]:
pd.merge(left=mortality_data, right=country_code, on="country", how="left").name.unique()

array(['Seychelles', 'Brunei Darussalam', 'Cyprus', 'Oman', 'Sri Lanka',
       'Syrian Arab Republic', 'Andorra', 'Azerbaijan', 'Belarus',
       'Kazakhstan', 'Russian Federation', 'San Marino', 'Turkmenistan',
       'Ukraine'], dtype=object)

In [123]:
mortality_data.country.unique()

array([1400, 3030, 3080, 3285, 3365, 3370, 4008, 4012, 4018, 4182, 4272,
       4275, 4302, 4303])

In [126]:
country_code

     country                               name
0       1010                            Algeria
1       1020                             Angola
2       1025                              Benin
3       1030                           Botswana
4       1035                       Burkina Faso
5       1040                            Burundi
6       1045                           Cameroon
7       1060                         Cape Verde
8       1070           Central African Republic
9       1080                               Chad
10      1090                            Comoros
11      1100                              Congo
12      1115                      Cote d'Ivoire
13      1120                           Djibouti
14      1125                              Egypt
15      1130                  Equatorial Guinea
16      1135                            Eritrea
17      1140                           Ethiopia
18      1160                              Gabon
19      1170                             Gambia
20      1180                              Ghana
21      1190                             Guinea
22      1192                      Guinea-Bissau
23      1220                              Kenya
24      1230                            Lesotho
25      1240                            Liberia
26      1250             Libyan Arab Jamahiriya
27      1260                         Madagascar
28      1270                             Malawi
29      1280                               Mali
..       ...                                ...
197     4280                              Spain
198     4290                             Sweden
199     4300                        Switzerland
200     4301                         Tajikistan
201     4302                       Turkmenistan
202     4303                            Ukraine
203     4304                       USSR, Former
204     4308                     United Kingdom
205     4310  United Kingdom, England and Wales
206     4320   United Kingdom, Northern Ireland
207     4330           United Kingdom, Scotland
208     4335                         Uzbekistan
209     4340                 Yugoslavia, Former
210     4350      Serbia and Montenegro, Former
211     5020                          Australia
212     5060                       Cook Islands
213     5070                               Fiji
214     5105                           Kiribati
215     5107                   Marshall Islands
216     5108   Micronesia (Federated States of)
217     5110                              Nauru
218     5150                        New Zealand
219     5170                               Niue
220     5180                              Palau
221     5195                   Papua New Guinea
222     5197                              Samoa
223     5198                    Solomon Islands
224     5200                              Tonga
225     5205                             Tuvalu
226     5207                            Vanuatu

[227 rows x 2 columns]