In [1]:
import pandas as pd

In [2]:
country_code = pd.read_csv("mortality_data/country_codes.csv")

In [3]:
mort1 = pd.read_csv("mortality_data/Morticd10_part1.csv")

/Users/jaeyoonjung/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
mort1 = mort1.loc[(mort1.Admin1.isnull()) & (mort1.SubDiv.isnull())]

In [5]:
mort1 = mort1[["Country", "Year", "List", "Cause", "Sex",  "Deaths1"]]

In [6]:
mort2 = pd.read_csv("mortality_data/Morticd10_part2.csv")

/Users/jaeyoonjung/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
mort2 = mort2.loc[(mort2.Admin1.isnull()) & (mort2.SubDiv.isnull())]
mort2 = mort2[["Country", "Year", "List", "Cause", "Sex",  "Deaths1"]]

In [8]:
mort = pd.concat([mort1, mort2])

In [9]:
mort = mort.reset_index(drop=True).groupby(["Country", "Year", "List", "Cause"])["Deaths1"].sum().reset_index()

In [10]:
mort["List"] = mort["List"].apply(str)

In [11]:
mort.groupby("List")["Country"].nunique()

List
101     14
103     35
104    113
10M      2
UE1      1
Name: Country, dtype: int64

In [12]:
mort = pd.merge(left=mort, right=country_code, left_on="Country", right_on="country", how="left")

In [13]:
mort = mort.drop(["Country", "country"], axis=1).rename(columns={"name":"country"})

In [14]:
mort = mort.loc[(mort.List == "104") | (mort.List == "103")]
mort = mort.loc[mort.List != "AAA"]

In [15]:
mort["cause"] = mort["Cause"].apply(lambda x: x[0:3])
mort = mort.drop("Cause", axis=1)
mort = mort.drop("List", axis=1)
mort = mort.groupby(["Year", "country", "cause"]).Deaths1.sum().reset_index()

In [18]:
mort.Year.max()

2017

In [67]:
mort.to_csv("data/mortality_data.csv", sep="\t", index=False)

In [92]:
icd = icd.iloc[0:76]

In [94]:
icd["code"] = icd["code"].apply(int)

/Users/jaeyoonjung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [96]:
icd["code"] = icd["code"].apply(str)

/Users/jaeyoonjung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [99]:
icd.to_csv("mortality_data/icd_codes.csv", index=False)

In [104]:
mort101 = mort101.reset_index(drop=True)

In [106]:
country_code

     country                               name
0       1010                            Algeria
1       1020                             Angola
2       1025                              Benin
3       1030                           Botswana
4       1035                       Burkina Faso
5       1040                            Burundi
6       1045                           Cameroon
7       1060                         Cape Verde
8       1070           Central African Republic
9       1080                               Chad
10      1090                            Comoros
11      1100                              Congo
12      1115                      Cote d'Ivoire
13      1120                           Djibouti
14      1125                              Egypt
15      1130                  Equatorial Guinea
16      1135                            Eritrea
17      1140                           Ethiopia
18      1160                              Gabon
19      1170                             Gambia
20      1180                              Ghana
21      1190                             Guinea
22      1192                      Guinea-Bissau
23      1220                              Kenya
24      1230                            Lesotho
25      1240                            Liberia
26      1250             Libyan Arab Jamahiriya
27      1260                         Madagascar
28      1270                             Malawi
29      1280                               Mali
..       ...                                ...
197     4280                              Spain
198     4290                             Sweden
199     4300                        Switzerland
200     4301                         Tajikistan
201     4302                       Turkmenistan
202     4303                            Ukraine
203     4304                       USSR, Former
204     4308                     United Kingdom
205     4310  United Kingdom, England and Wales
206     4320   United Kingdom, Northern Ireland
207     4330           United Kingdom, Scotland
208     4335                         Uzbekistan
209     4340                 Yugoslavia, Former
210     4350      Serbia and Montenegro, Former
211     5020                          Australia
212     5060                       Cook Islands
213     5070                               Fiji
214     5105                           Kiribati
215     5107                   Marshall Islands
216     5108   Micronesia (Federated States of)
217     5110                              Nauru
218     5150                        New Zealand
219     5170                               Niue
220     5180                              Palau
221     5195                   Papua New Guinea
222     5197                              Samoa
223     5198                    Solomon Islands
224     5200                              Tonga
225     5205                             Tuvalu
226     5207                            Vanuatu

[227 rows x 2 columns]